.cadastro-container .mat-form-field + .mat-form-field {
  margin-left: 5px;
}

/*pagina*/
body {
  background-color: #E5E5E5;
  margin: 0 auto;
}

.form { /*veificar*/
  text-align:center;
  padding-top: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
  position: absolute;
  width:100%;
}

.topo{
  background-color: #2D9CDB;
  padding-top: 50px;
  margin: 0 auto;
  text-align:center;
}

h1{
  text-align:center;
  color: #E5E5E5;
}

mat-toolbar{
  background-color: #E5E5E5;
}

/*Botões*/
.example-button-row {
  display: table-cell;
  width: 490px;
}



