/*login*/
.topo {
    background-color: #E5E5E5;
    margin: 0 auto;
}

.a {
    text-align:center;
    padding: 0px;
    background-color: #2D9CDB
}



/*paginas*/
.teste{
    background-color: #E5E5E5;
}

  .form {
    text-align:center;
    padding-top: 100px;
    margin: 0 auto;
  }